* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100vh;
    width: 100vw;
}
body {
    background-color: rgb(26, 26, 26);
    position: relative;
    background-image:radial-gradient(circle,rgba(255, 166, 0, 0.048),rgba(0, 0, 0, 0) 60%);
    overflow: hidden;
}
.grenn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* animation: reden 2.7s infinite; */
}
@keyframes reden {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
#innerCircle {
    transform-origin: center;
    animation: kleiner 6s infinite;
}
@keyframes kleiner {
    10% {transform: scale(.9)}
    50% {transform: scale(1)}
    /* 110% {transform: scale(.9)} */
}
#outerStroke {
    transform-origin: center;
    animation: scalieren 6s infinite;
}
@keyframes scalieren {
    0% {transform: scale(1.1)}
    50% {transform: scale(1)}
    100% {transform: scale(1.1)}
}
#backCircle {
    transform-origin: center;
    animation: hintergrunds 6s infinite;
}
@keyframes hintergrunds {
    10% {transform: scale(0.8)}
    /* 50% {transform: scale(1)} */
    60% {transform: scale(5)}
}
